* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container,
.section {
  text-align: center;
}

.section {
  display: none;
}
.section.active {
  display: block;
}

h1 {
  font-size: 80px;
  margin-bottom: 60px;
}
.bold {
  font-weight: 700;
  color: #000;
}
.green {
  color: #7ac584;
  font-weight: 500;
}
.input-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.input-button {
  padding: 18px 24px;
  font-size: 20px;
  background-color: white;
  border: 2px solid #7ac584;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  width: 220px;
}
.go-button {
  padding: 18px 40px;
  background-color: #7ac584;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
/* .recommendations {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}
.card {
  width: 180px;
  height: 150px;
  border: 2px solid #7AC584;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
} */

.recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card {
  padding: 20px 30px;
  width: 280px;
  min-height: 120px;
  border: 2px solid #90c695;
  border-radius: 16px;
  background: #f7fff7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  text-align: center;
  line-height: 1.4;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
